{% load staticfiles %}
<!DOCTYPE  html>
<html>
<head>
    <title> {% block title %}{% endblock %} </title>
{#    <link rel="stylesheet" href="{% static "css/main.css" %}">#}
</head>
<body>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>